# Ignore Gradle project-specific cache directory
.gradle/
.idea/shelf/
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/disctionaries
.idea/uiDesigner.xml
.idea/gradle.xml

# Ignore Gradle build output directory
build/
